name: Build & Release Sysroot

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
    branches:
      - "main"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: loongarch64

      - name: Run Build Script
        run: |
          echo "1. Giving permission..."
          chmod +x scripts/build.sh
          
          echo "2. Running script now... (This will take time)"
          ./scripts/build.sh

      # 修改点：不再使用 ls 命令找文件，直接让 upload 插件去匹配
      - name: Upload Artifact (Manual/Branch Build)
        if: (!startsWith(github.ref, 'refs/tags/'))
        uses: actions/upload-artifact@v4
        with:
          name: loongarch-sysroot-debug
          # 使用通配符，它会自动找到生成的 tar.gz
          path: ./*.tar.gz
          if-no-files-found: error
          retention-days: 7

      - name: Create Release and Upload Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          name: LoongArch Sysroot ${{ github.ref_name }}
          files: ./*.tar.gz
          draft: false
          prerelease: false
          generate_release_notes: true
